
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="9 Soft" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="HTML5 Template Crizal" />
    <meta name="description" content="Crizal - Multipurpose Responsive + Admin" />

    <!-- title  -->
    <title>Asan Service.pk</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="~/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/logos/apple-touch-icon-114x114.png">

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/css/imagehover.min.css" />
    <link rel="stylesheet" href="~/css/custom1.css" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->
    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style2">

            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="top-bar-info">
                                <ul>
                                    <li><i class="fas fa-mobile-alt"></i>(+92) 331 2008 459</li>
                                    <li><i class="fas fa-envelope"></i>services@9soft.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 xs-display-none">
                            <ul class="top-social-icon">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-theme">
                    <div class="container-fluid">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img id="logo" src="~/img/logos/logo-inner.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="@Url.Action("Index", "Home")">Home</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Service", "Services")">Services</a>
                                        </li>

                                        @*<li>
            <a href="#!">Service Detail</a>
            <ul>
                <li><a href="@Url.Action("FinancialPlanning", "Services")">Financial Planning</a></li>
                <li><a href="@Url.Action("PersonalInsurance", "Services")">Personal Insurance</a></li>
                <li><a href="@Url.Action("BusinessAnalysis", "Services")">Business Analysis</a></li>
                <li><a href="@Url.Action("MarketResearch", "Services")">Market Research</a></li>
                <li><a href="@Url.Action("OnlineConsulting", "Services")">Online Consulting</a></li>
                <li><a href="@Url.Action("InvestmentPlanning", "Services")">Investment Planning</a></li>
            </ul>
        </li>*@

                                    

                                        <li>
                                            <a href="#!">Shop</a>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Shop")">Products</a></li>
                                                <li><a href="@Url.Action("ProductGrid", "Shop")">Product Grid</a></li>
                                                <li><a href="@Url.Action("ProductDetail", "Shop")">Product Detail</a></li>
                                                <li><a href="@Url.Action("ShopCart", "Shop")">Shop Cart</a></li>
                                                <li><a href="@Url.Action("ShopCheckout", "Shop")">Shop Checkout</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("AboutUs", "About")">About Us</a>
                                        </li>

               

                                        @*<li>
            <a href="#!">FAQ</a>
            <ul>
                <li><a href="@Url.Action("Faq1", "Faq")">FAQ 01</a></li>
                <li><a href="@Url.Action("Faq2", "Faq")">FAQ 02</a></li>
            </ul>
        </li>*@

                                        <li>
                                            <a href="@Url.Action("ContactUs", "Contact")">Contact Us</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Login", "Home")">Login</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Index", "AdminDashboard")">Admin Dashboard</a>
                                        </li>

                                        @*<li>
            <a href="#!">Pages</a>
            <ul>
                <li>
                    <a href="#!">Additional Pages</a>
                    <ul>
                        <li><a href="@Url.Action("Career", "Pages")">Career</a></li>
                        <li><a href="@Url.Action("Login", "Pages")">Login</a></li>
                        <li><a href="@Url.Action("Registration", "Pages")">Registration</a></li>
                        <li><a href="@Url.Action("ForgotPassword", "Pages")">Forgot Password</a></li>
                        <li><a href="@Url.Action("Error404", "Pages")">Error 404</a></li>
                        <li><a href="@Url.Action("Maintenance", "Pages")">Maintenance</a></li>
                        <li><a href="@Url.Action("Comingsoon", "Pages")">Comingsoon</a></li>
                    </ul>
                </li>

            </ul>
        </li>*@


                                    </ul>


                                    <!-- end menu area -->
                                    <!-- start attribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-70px-right xs-margin-65px-right">
                                        <ul>
                                            <li class="dropdown sm-margin-20px-right xs-margin-15px-right">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span class="badge bg-theme">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Sneakers Shoe </a></h6>
                                                        <p>2x - <span class="price">$99.99</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Digital Watch</a></h6>
                                                        <p>1x - <span class="price">$33.33</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Headphones</a></h6>
                                                        <p>2x - <span class="price">$99.99</span></p>
                                                    </li>
                                                    <li class="total bg-theme">
                                                        <span class="pull-left"><strong>Total</strong>: $233.31</span>
                                                        <a href="#!" class="butn small btn-cart white"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        @RenderBody()


        <!-- start footer section -->
        <footer class="bg-img background-size-contain" data-overlay-dark="9" data-background="../img/bg/bg1.jpg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <div class="padding-30px-right border-right xs-border-bottom xs-no-border-right  border-color-light-white xs-padding-30px-bottom xs-no-padding-right height-100">
                            <h3 class="footer-title-style7 text-white">Quick Links</h3>
                            <ul class="footer-list">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-map-marker-alt text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-mobile-alt text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">(+92) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="far fa-envelope text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">emailaddress@domain.com</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-globe text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">www.yourwebsite.com</span>
                                </li>
                            </ul>
                            <div class="footer-social-icons small margin-15px-top">
                                <ul>
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <div class="padding-30px-right sm-no-padding-right border-right xs-border-bottom sm-no-border-right border-color-light-white xs-padding-30px-bottom height-100">
                            <h3 class="footer-title-style7 text-white">Newsletter</h3>
                            <p class="margin-20px-bottom">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                            <form class="quform newsletter-form w-sm-90 mx-auto mx-lg-0" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                                <div class="quform-elements">

                                    <div class="row">

                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element">
                                                <div class="quform-input">
                                                    <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->
                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn btn-white text-theme-color m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->

                                    </div>

                                </div>

                            </form>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="height-100">
                            <h3 class="footer-title-style7 text-white">About Us</h3>
                            <p class="margin-20px-bottom">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            <p class="margin-20px-bottom">Nemo enim enim voluptatem quia sed quia consequuntur.</p>
                            <a href="#!" class="butn theme white-hover small"><span>Read More</span></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-bar bg-transparent border-top border-color-light-white position-relative z-index-1">
                <div class="container">
                    <p>
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Crizal is Powered by <a href="110.93.228.223:9096" target="_blank">9 Soft</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->
    <!-- start switcher section -->
    <div id="style-switcher">
        <a href="#!" class="switcher-setting"><i class="fa fa-cog fa-spin"></i></a>

        <div class="layout-btn">
            <h2>Select Layout</h2>
            <ul>
                <li><a class="boxed" href="#!"><span>Boxed</span></a></li>
                <li><a class="wide" href="#!"><span>Wide</span></a></li>
            </ul>
        </div>

        <div class="pattren">

            <div class="pattren-wrap">
                <h2>Chose Pattren</h2>
                <ul class="bg-list">
                    <li>
                        <a href="#!" class="bg1"><img alt="" src="~/img/pattern/pattren1.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg2"><img alt="" src="~/img/pattern/pattren2.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg3"><img alt="" src="~/img/pattern/pattren3.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg4"><img alt="" src="~/img/pattern/pattren4.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg5"><img alt="" src="~/img/pattern/pattren5.jpg"></a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="choose-color">
            <h2>Choose Color</h2>
            <ul class="colors" id="color1">
                <li>
                    <a href="#!" class="style1"></a>
                </li>
                <li>
                    <a href="#!" class="style2"></a>
                </li>
                <li>
                    <a href="#!" class="style3"></a>
                </li>
                <li>
                    <a href="#!" class="style4"></a>
                </li>
                <li>
                    <a href="#!" class="style5"></a>
                </li>
                <li>
                    <a href="#!" class="style6"></a>
                </li>
                <li>
                    <a href="#!" class="style7"></a>
                </li>
                <li>
                    <a href="#!" class="style8"></a>
                </li>
            </ul>
        </div>
        <a href="#" target="_blank" class="butn theme btn-block"><span>Take Service</span></a>
    </div>
    <!-- end switcher section -->
    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->
    @Scripts.Render("~/Script/js")
    @RenderSection("scripts", required: false)
</body>

</html>