

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "quform", @enctype = "multipart/form-data" }))
{
    <div class="quform-elements">

        <div class="row">

            <!-- Begin Text input element -->
            <div class="col-md-6">
                <div class="quform-element form-group">
                    <div class="quform-input">
                        @Html.TextBox("Name", null, new { @placeholder = "Your name here", @id = "name" })
                        @*<input id="name" type="text" name="name" placeholder="Your name here" />*@
                    </div>
                </div>

            </div>
            <!-- End Text input element -->
            <!-- Begin Text input element -->
            <div class="col-md-6">
                <div class="quform-element form-group">
                    <div class="quform-input">
                        @Html.TextBox("Email", null, new { @placeholder = "Your email here", @id = "email" })
                        @*<input id="email" type="text" name="email" placeholder="Your email here" />*@
                    </div>
                </div>
            </div>
            <!-- End Text input element -->
            <!-- Begin Text input element -->
            <div class="col-md-6">
                <div class="quform-element form-group">
                    <div class="quform-input">
                        @Html.TextBox("Subject", null, new { @placeholder = "Your subject here", @id = "subject" })
                        @*<input id="subject" type="text" name="subject" placeholder="Your subject here" />*@
                    </div>
                </div>

            </div>
            <!-- End Text input element -->
            <!-- Begin Text input element -->
            <div class="col-md-6">
                <div class="quform-element form-group">
                    <div class="quform-input">
                        @Html.TextBox("Phone", null, new { @placeholder = "Your phone number", @id = "phone" })
                        @*<input id="phone" type="text" name="phone" placeholder="Your phone number" />*@
                    </div>
                </div>

            </div>
            <!-- End Text input element -->
            <!-- Begin Textarea element -->
            <div class="col-md-12">
                <div class="quform-element form-group">
                    <div class="quform-input">
                        @Html.TextBox("Message", null, new { @placeholder = "Tell us a few words", @id = "message", @rows = "5" })
                        @*<textarea id="message" name="message" rows="5" placeholder="Tell us a few words"></textarea>*@
                    </div>
                </div>
            </div>
            <!-- End Textarea element -->
            <!-- Begin Captcha element -->
            <div class="col-md-12">
                <div class="quform-element">
                    <div class="form-group">
                        <div class="quform-input">
                            @Html.TextBox("type_the_word", null, new { @placeholder = "Type the below word", @id = "type_the_word" })
                            @*<input id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="quform-captcha">
                            <div class="quform-captcha-inner">
                                <img src="~/quform/images/captcha/courier-new-light.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Captcha element -->
            <!-- Begin Submit button -->
            <div class="col-md-12">
                <div class="quform-submit-inner">
                    <button class="butn" type="submit"><span>Submit comment</span></button>
                </div>
                <div class="quform-loading-wrap text-left"><span class="quform-loading"></span></div>
            </div>
            <!-- End Submit button -->

        </div>

    </div>


}


