
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="../img/bg/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Services</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->      
<!-- start services section -->
<section id="Services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/img/projects/project-6b.jpg" alt="">
                    <div class="overlay">
                        <h2>Generator Repair</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services")">boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cu</a>
                    </div>
                </div>
              
            </div><div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/img/projects/project-4b.jpg" alt="">
                    <div class="overlay">
                        <h2>Generator Repair</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services")">boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cu</a>
                    </div>
                </div>
              
            </div><div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/img/projects/project-2b.jpg" alt="">
                    <div class="overlay">
                        <h2>Generator Repair</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services")">boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cu</a>
                    </div>
                </div>
              
            </div><div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/img/projects/project-1b.jpg" alt="">
                    <div class="overlay">
                        <h2>Generator Repair</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services")">boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cu</a>
                    </div>
                </div>
              
            </div><div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/img/projects/project-5b.jpg" alt="">
                    <div class="overlay">
                        <h2>Generator Repair</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services")">boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cu</a>
                    </div>
                </div>
              
            </div><div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" src="~/img/projects/project-6b.jpg" alt="">
                    <div class="overlay">
                        <h2>Generator Repair</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services")">boris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cu</a>
                    </div>
                </div>
              
            </div>
        </div>


        @*<div class="row">
            <div class="col-lg-6 margin-30px-bottom sm-margin-20px-bottom">
                <div class="case-block">
                    <div class="row">
                        <div class="col-md-6 col-xs-12"><img src="~/img/projects/project-6b.jpg" alt="case"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="case-block-inner">
                                <h4>Quality Services</h4>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                <a href="# ">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-30px-bottom sm-margin-20px-bottom">
                <div class="case-block">
                    <div class="row">
                        <div class="col-md-6 col-xs-12"><img src="~/img/projects/project-5b.jpg" alt="case"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="case-block-inner">
                                <h4>Research Financial</h4>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                <a href="#!">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-30px-bottom sm-margin-20px-bottom">
                <div class="case-block">
                    <div class="row">
                        <div class="col-md-6 col-xs-12"><img src="~/img/projects/project-1b.jpg" alt="case"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="case-block-inner">
                                <h4>Quality Services</h4>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                <a href="# ">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-30px-bottom sm-margin-20px-bottom">
                <div class="case-block">
                    <div class="row">
                        <div class="col-md-6 col-xs-12"><img src="~/img/projects/project-2b.jpg" alt="case"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="case-block-inner">
                                <h4>Research Financial</h4>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                <a href="#!">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 sm-margin-20px-bottom" id="Generators">
                <div class="case-block">
                    <div class="row">
                        <div class="col-md-6 col-xs-12"><img src="~/img/projects/project-3b.jpg" alt="case"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="case-block-inner">
                                <h4>Generators</h4>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                <a href="#!">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="case-block">
                    <div class="row">
                        <div class="col-md-6 col-xs-12"><img src="~/img/projects/project-4b.jpg" alt="case"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="case-block-inner">
                                <h4>Market Analysis</h4>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat reprehenderit.</p>
                                <a href="# ">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>
<!-- end services section -->
<!-- start counter section -->
<section class="parallax" data-overlay-dark="7" data-background="../img/bg/bg12.jpg" style="text-align:center;">
    <div class="container">
        <div class="row">

            @*<div class="col-md-5 col-sm-12 xs-margin-20px-bottom">
                <div class="story-video">

                    <div class="text-center center-col absolute-middle-center z-index-1">
                        <a class="video video_btn" href="~/video/bg-video.mp4">
                            <i class="fas fa-play font-size18 xs-font-size16"></i>
                        </a>
                    </div>

                </div>
            </div>*@

            <div class="col-md-12 col-sm-12 col-12">

                @*<h4 class="text-white font-weight-600">A perfect idea can change everything in your business.</h4>

                <p class="font-size16 sm-font-size14 text-white line-height-30 sm-line-height-28 width-90 no-margin">Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                <div class="separator-line-horrizontal-full bg-white opacity2 margin-50px-tb md-margin-40px-tb sm-margin-30px-tb xs-margin-25px-tb"></div>*@

                <div class="row">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-center xs-text-center">

                            <h4 class="countup text-white display-block">1826</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Visitors</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-center xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">875</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Clients</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-center xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">1412</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Awards</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- end counter section -->